<!doctype html>
<html ng-app="tictactoeApp">
<head>
  <title>Tic-Tac-Toe</title>
  <script src="/node_modules/angular/angular.js"></script>
  <script src="scripts/app.js" type="text/javascript"></script>
  <link href='styles/main.css' rel='stylesheet' type="text/css">
</head>
<body ng-controller="mainCtrl">
	<div> {{winner}} </div>
<div class="turnText" ng-show="!winner">Player {{currentPlayer}}'s Turn!</div>
<div class="winnerText" ng-hide="!winner"> {{checkWin()}} wins!</div>
<div class="board">
<div class="square" ng-click="makeMove(space); changePlayer(space); setPlayer(space); checkWin();"
 ng-repeat="space in spaces">
{{space.player}}
</div>
<button class="newGame" ng-click="reset()">New Game?</button>

</body>
</html>
